<h1>お気に入り一覧</h1>
<% @favorites.each do |favorite| %>
  <p><%= favorite.user.name %></p>
  <p><%= link_to favorite.word,picture_path(favorite.id) %></p>
  <p><%= link_to image_tag(favorite.image.url),picture_path(favorite.id) %></p>
<% end %>