body {
  background: image-url("InstaBack.jpg");
  background-size: cover;
  color: #eee;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: local('Billabong'), url('Billabong.woff') format('woff');
}

.navbar-brand{
  font-family: 'Billabong';
  font-size: 35px;
}

.navbar-default{
  background-color: #eee;
}

a:hover {
  text-decoration: none;
}

.col-xs-12{
  padding-bottom: 5px;
}

.mgr-10{
  margin-right: 20px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.word {
  max-width: 300px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.field,.actions {
  color: black
}

#notice {
  color: green;
}

label {
  display: block;
}
